:root {
    /* colors */
    --main: #132deb;
    --main-h: #2243F6;
    --white: #FFFFFF;
    --neutral: #F2F3F5;
    --neutral-d: #D6D7DB;
    --dark: #444754;
    /* fonts */
    --ff-main: 'Poppins', sans-serif;
    --ff-accent: 'Gloock', serif;
    --fw-regular: 400;
}

/********************************/
/****** minimal CSS reset ******/
/*******************************/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/***********************/
/***** typography ******/
/***********************/

h1 {
    font-family: var(--ff-main);
    font-size: 1.5rem;
}

main h1 {
    font-family: var(--ff-accent);
    font-weight: bold;
    color: var(--main);
}

h2 {
    font-family: var(--ff-accent);
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
}

h3 {
    color: var(--dark);
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 1.1rem;
    margin-top: 1.5rem;
}

h4 span:first-of-type {
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--neutral-d);
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
    margin-right: 0.2rem;
}

h4 span:last-of-type {
    color: var(--main);
    font-weight: bold;
    font-size: 0.9rem;
    float: right;
    line-height: 1.5rem;
}

/* links */
a {
    color: var(--main);
    text-decoration: none;
}

/* body styles */
body {
    background-color: var(--neutral);
    font-family: var(--ff-main);
    font-weight: var(--fw-regular);
}

/* top header */
body > header {
    background-color: var(--main);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    z-index: 999;
    position: sticky;
    top: 0;
    filter: drop-shadow(2px 2px 5px var(--dark));
}

@media (max-width: 600px) {
 body>header {
    flex-direction: column;
    text-align: center;
 }
}

/* main {
    height: 90vh;
} */

/***********************/
/**** main styles ******/
/***********************/

main {
    min-height: calc(80vh - 3rem);
}

main > header {
    background-color: var(--neutral-d);
}

main h1 {
    border-bottom: 3px solid var(--main);
    padding: 0.5rem 2rem;
}

nav {
    border-bottom: 3px solid var(--neutral-d);
    padding: 0.5rem 2rem;
    vertical-align: middle;
}

p {
    display: inline;
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
    }
}

figure {
    background-color: var(--white);
    width: 90%;
    max-width: 500px;
    filter: drop-shadow(2px 2px 5px var(--neutral-d));
}

figure img {
    height: 33%;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

figcaption {
    padding: 1rem;
    position: relative;
}

.vid-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    margin: auto;
    width: 50%;
    min-width: 400px;
    filter: drop-shadow(2px 2px 5px var(--dark));
}

video {
   background-color: var(--dark); 
}

.vid-container h2 {
    background-color: var(--neutral-d);
    padding: 1.5rem;
}

/* footer */

footer {
    background-color: var(--main);
    color: var(--white);
    font-size: 0.9rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}